.card {
    padding: 15px;
}
.cards-wrapper .card-title{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 32px;
    color: #344054;
}

.cards-wrapper .card-text{
    font-family: Montserrat;
    font-weight: 500;
    font-size: 16px;
    color: #667085;
}

.icon {
    background-color: #E3E2FD;
}